<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/suman-sadhukhan" target="_blank"><i  class="fa-brands fa-linkedin"></i></a>

            <a href="https://www.linkedin.com/in/suman-sadhukhan"><i class="fa-brands fa-square-facebook"></i></a>

            <a href="https://www.linkedin.com/in/suman-sadhukhan"><i class="fa-brands fa-square-instagram"></i></a>
            
        </div>
        <div class="f-info-brand" >&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="https://www.linkedin.com/in/suman-sadhukhan">Privacy</a>
            &nbsp; &nbsp;
            <a href="https://www.linkedin.com/in/suman-sadhukhan">Terms</a>
        </div>
    </div>
</footer>