<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem;
    
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid" >
      
      <div class="navbar-nav navbar_bg logo-explore"> 
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <a class="nav-link btn nav-btn-link " href="/listings">Explore</a>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
        <!-- search   -->
        <div class="navbar-nav ms-auto search-box">
              <form method="post" action="/listings/search" class="d-flex needs-validation" role="search" novalidate >
                <label for="search" class="form-label"></label>
                  <input class="form-control me-2 search-input" class="form-control" type="text" id="search" name="search" placeholder="Search destinations" required >
                  
                  <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>

              </form>
            
        </div>
        

        <div class="navbar-nav navbar_bg ms-auto">
          <a class="nav-link nav-btn-link" href="/listings/new">Add New Listing</a>
          <% if(!currUser){ %>
          <a class="nav-link nav-btn-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link nav-btn-link" href="/login"><b>Log in</b></a>
          <% } %>
          <% if(currUser){ %>
          <a class="nav-link nav-btn-link" href="/logout"><b>Log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>