body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.container-fluid{
    background-color: white !important;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-mountain-city{
    color: #fe424d;
    font-size: 2rem !important;
    margin-right: 0px;
}


.nav-link{
    color: #222222 !important;
}
.navbar_bg{
    /* background-color: white; */
    text-align: center;
}
.nav-btn-link:hover{
    background-color: rgb(245, 245, 245) !important;
    border-radius: 20px !important;
}
.logo-explore{
    display: flex;
    flex-direction: row !important;
}
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-name{
    color: #fe424d;
    font-size: 1.5rem;
    margin-bottom: 0px;
}


/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline; 
}

.f-info-links,.f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-socials a{
    color: black;
    opacity: 0.7;
}
.f-info-socials a:hover{
    color: black;
    opacity: 1;
    
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;

}
.show-card{
    padding-left: 0;
    
}

.review-card{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 5px;
}


/* map */
#map{ 
    width: 100%;
    height: 300px;
    border: 2px solid #000;
}
/* listing footer */

.not-btn{
    width: 100%;
    padding: 1rem 0 !important;
    
}

/* media query */

@media(max-width:772px) {
    
    .review-card{
        flex-direction: column;
        width: 80% !important;
    }
    #map{
        height: 300px;
    } 
    .search-box{
        margin-left: 2rem !important;
    }
}

@media(max-width:500px){
    .phone-view{
        margin-left: 0 !important;
        width: 100% !important;
    }
    .phone-view-edit-btn{
        margin-left: 0 !important;
    }
    .signup{
        display: flex;
        justify-content: center;
    }
    .login{
        display: flex;
        justify-content: center;
    }
}

/* listing page */
/* Filters */

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.categories {
    overflow-x: auto;
    white-space: nowrap;
    flex: 1;
}

.categories a {
    display: inline-block;
    text-align: center;
    /* padding: 14px; */
    color: #222222;
    text-decoration: none;
    opacity: 0.9;
    flex: 0 0 auto;
}

.categories a:hover {
    opacity: 1;
}

.category {
    color: #222222;
    opacity: 0.8;
}

.filter:hover {
    opacity: 1;
}

.fa-solid {
    font-size: 1rem;
}

.category p {
    font-size: 0.8rem;
}
 
.tax-info{
    display: none;
}
  .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.25rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  @media(max-width:560px) {

    .filters {
            flex-direction: column;
        }
    .categories {
        overflow-x: auto !important;
        white-space: wrap;
        display: flex;
        width: 100%;
        gap: 1rem;
    }
  }