<% layout("/layouts/boilerplate.ejs") %>

<div class="row  mt-3 phone-view">
    <h1 class="col-6 offset-3 phone-view  mx-auto signup d-flex justify-content-center mb-3">Signup</h1>
    <div class="col-6 offset-3 phone-view ">
        <form  method="POST" action="/signup" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter Your Name" class="form-control" 
               id="username" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="Enter Your Email" class="form-control" 
               id="email" required>
                
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter Your Password" class="form-control" 
               id="password" required>
                
            </div>
            <div class="d-flex justify-content-between">
            <button class="btn btn-success">SignUp</button>
            <a href="/login">Already have an account?</a>
            </div>
        </form>

    </div>
</div>